{% extends "baseEnseignant.html.twig" %}
{% block titreContenu %}Stage de {{stage.etudiant.prenom}} {{stage.etudiant.nom}} chez {{stage.nomEntreprise}}{% endblock %}


{% block contenu%}
</br>

<div class="col-lg-10">
  <div class="card">                
    <div class="card-header d-flex align-items-center">
        
        <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="{{ path('showStage', {'idStage': stage.id }) }}">Info</a></li>
                {% if stage.duree > 0 %}          
                    {% set nbSem = stage.duree %}
                    {% for i in 1..nbSem %}
                        <li class="breadcrumb-item"><a href="{{path('showSemaineStage', {'idStage': stage.id, 'numSemaine': i})}}"> Semaine {{ i }} </a></li>                         
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <!-- FIN Breadcrumb-->
    </div>
  </div>
</div>   


<!--Tableau affichage activités -->

<div class="col-lg-10">
  <div class="card">
    <div class="card-header d-flex align-items-center">
        <h3 class="h4"><h3 class="h4"> Liste des tâches de la semaine {{semaineStage.numSemaine}} </h3>
    </div>

    <div class="card-body">
      <div class="table-responsive">   
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                                <th scope="col-md-2">Jour</th>
                                <th scope="col-md-2">Domaine</th>
                                <th scope="col-md-7">Description</th>
                                <th scope="col-md-7">Modification</th>
                                <th scope="col-md-7">Supression</th>
                </tr>
            </thead>
            <tbody>
                
                    {% if semaineStage.tachesemaines is defined %}
                        {% for tache in semaineStage.tachesemaines|sort((a, b) => a.jour.nom <=> b.jour.nom) %}
                          <tr>
                            <th scope="row">{{tache.jour.nom}}</th>
                            <td>{{tache.domaineTache.libelle}}</td>
                            <td>{{tache.description}}</td>
                            <td>Modifier</td>
                            <td><a href="{{path('removeTache', {'idTache': tache.id})}}"> Supprimer</a></td>
                          </tr>
                        {% endfor %}
                    {% endif %}
                             
            </tbody>
        </table>              
      </div>
    </div>
  </div>
</div>
 <!-- Fin tableau affichage activités -->

{% endblock %}