{% extends "etudiant/baseEtudiant.html.twig" %}


{% block titreContenu %}Mon stage {% endblock %}
{% block contenu%}
</br>
{% for message in app.flashes('success') %}{# affichera un message de succès si l'action est réussie #}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}


<!--section class="forms"--> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    

                    <!-- bloc de navigation sontenant les numéros de semaine du stage -->
                    <div class="card-header d-flex align-items-center">        
                        <!-- Breadcrumb-->
                        <div class="breadcrumb-holder container-fluid">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active"><a href="{{ path('showSemaineStage', {'idStage': stage.id, 'numSemaine': i}) }}">Info</a></li>                           
                                {% if stage.duree > 0 %}          
                                    {% set nbSem = stage.duree %}
                                    {% for i in 1..nbSem %}
                                        <li class="breadcrumb-item"><a href="{{ path('showEditSemaineStage', { 'idStage': stage.id, 'numSemaine': i } ) }}"> Semaine {{ i }} </a></li>                         
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- bloc de navigation sontenant les numéros de semaine du stage -->

                    <!-- formulaire ajout d'une tache  -->
                    <div class="card-body">  
                        {{ form_start(formTache) }}				
             
                            <div class="form-group row">    
                                <div class="col-sm-12">
                                    <div class="row">
                                     <div class="col-md-2">
                                            {{ form_row(formTache.jour, {'attr' : {'class' : 'form-control form-control-sm'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(formTache.domaineTache, {'attr' : {'class' : 'form-control form-control-sm'}}) }} 
                                        </div> 
                                        <div class="col-md-5">
                                            {{ form_row(formTache.description, {'attr' : {'class' : 'form-control form-control-sm'}}) }}
                                        </div>  
                                         <div class="col-md-2">
                                             {{ form_row(formTache.ajouter, {'attr': {'class': 'btn btn-primary'}})}}
                                        </div>                                                                             
                                    </div>
                                </div>
                            </div>

                            
                        {{ form_end(formTache) }}
                    </div>
                    <!-- FIN formulaire ajout d'une tache  -->



                     <!-- formulaire ajout apprentissage et bilan  -->
                    <div class="card-body">  
                        {{ form_start(formSemaine) }}
                            <!-- 1ère ligne de formulaire -->
                            <div class="form-group row">    
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(formSemaine.apprentissage, {'attr' : {'class' : 'form-control form-control-sm'}}) }} 
                                        </div> 
                                        <div class="col-md-6">
                                            {{ form_row(formSemaine.bilan, {'attr' : {'class' : 'form-control form-control-sm'}}) }}
                                        </div>              
                                    </div>
                                </div>
                            </div>

                             <!-- ligne de formulaire boutons-->
                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-3">
                                    {{ form_widget(formSemaine.enregistrer, {'attr': {'class': 'btn btn-primary'}})}}
                                </div>
                            </div>
                        {{ form_end(formSemaine) }}

                    </div>
                     <!-- FIN formulaire ajout d'une tache  -->
                     
<!--Tableau affichage activités -->

                        <div id="activities_field_list" class="mb-5">                    
                        </div>
                        <table class="table ">
                        <thead>
                            <tr>
                            <th scope="col-md-2">Jour</th>
                            <th scope="col-md-2">Domaine</th>
                            <th scope="col-md-7">Description</th>
                            <th scope="col-md-7">Modification</th>
                            <th scope="col-md-7">Supression</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% if semaine.tachesemaines is defined %}
                        {% for tache in semaine.tachesemaines|sort((a, b) => a.jour.nom <=> b.jour.nom) %}

                            <tr>
                            <th scope="row">{{tache.jour.nom}}</th>
                            <td>{{tache.domaineTache.libelle}}</td>
                            <td>{{tache.description}}</td>
                            <td>Modifier</td>
                            <td>Supprimer</td>
                            </tr>



                        {% endfor %}
                        {% endif %}


                        </tbody>
                        </table>
 <!-- Fin tableau affichage activités -->









                 </div>
                </div>
            </div>
        </div>
<!--/section-->

{% endblock %}